:root {
    --main-color: #00b0f0;
}

/* Fonts */

body {
    font-family: 'Catamaran', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lightgray;
    margin: 0;
}

h1, h2, h3, .navbar ul {
    font-family: 'Fredoka One', 'Times New Roman', Times, serif !important;
}

/* Navbar */

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--main-color);
    font-size: 25px;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: black;;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: var(--main-color);
}

/* Title */

#title-check {
    font-size: 40px;
}

#title-check-img {
    border-radius: 5px;
}

.btn {
    background: var(--main-color);
    border: 2px solid #111;
    font-size: 18px;
    color: #FFF;
    padding: 12px 22px;
}


/* Image upload CSS: https://bootsnipp.com/snippets/eNbOa */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload, #A {
    cursor: pointer;
}